.select-pdf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dropzone {
  border: 2px dashed #cccccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.dropzone p {
  margin: 0;
}

.select-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.select-button:hover {
  background-color: #45a049;
}